.container{
    border: 10px solid #c9c9c4;
    background-color: #e3e3d4;
    margin: auto;
    width: 90%;
    padding: 50px;
  }
  
  h1{
    color: rgb(127, 128, 116);
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    background-color: rgb(249, 249, 234);
  }
  
  p{
    color: #fff;
    margin: 0px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 10px;
  }
  
  .one{background-color: rgb(53, 122, 175);
  }
  .two{ background-color:  rgb(54, 134, 185);}
  .three{ background-color: #3293c3;}
  .four{ background-color: #469fcb;}
  .five{ background-color: #5fadd2;}
  .six{ background-color: #75bada;}
  .seven{ background-color: #8dc4df}
  .eight{ background-color: #23ab7e;}
  .nine{ background-color: #e7abc1;}
  .ten{ background-color: #e799b5;}
  .eleven{ background-color: #e587a7;}
  .twelve{ background-color: #e2749a;}
  .thirteen{ background-color: #e0658a;}
  .fourteen{ background-color: #db5580;}
  .fifthteen{ background-color: #da3d75;}
  .span{ font-size: 30px;}